<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/footer.css">


    <title> About Page </title>
    <link rel="icon" type="image/x-icon" href="/images/Logo-removebg-preview (1).png" />

</head>
<body>
  <script src="js/project.js"></script>

    
    <section class="about" id="about" >

        <nav>
         
            <div class="head">
              <a href="/home" 
                ><img src="Images/Logo-removebg-preview (1).png" weight="30%"
              /></a>
            </div>
            <div class="BackToHome">
              <a href="/home"><i class="fa-solid fa-house"></i></a>
          </div>
            <div class="navigation">
             <a href="/register" title="Account"
             ><i class="fa-solid fa-user"></i
              ></a>
              <a onclick="openCart()" href="#cart" title="Cart"
                ><i class="fa-solid fa-cart-shopping"></i
              ></a>
              <a href="/about" title="About neo"
                ><i class="fa-solid fa-heart"></i
              ></a>
              <a href="/contact" title="Contact"
                ><i class="fa-solid fa-square-phone"></i
              ></a>
            </div>
          </nav>

<div class="background">
        

   <div class="h1">
<h1> About us </h1>
   </div>

   <div class="p">
    <p> Hi there! We're NEO Egypt and we're here to provide you with the best quality hoodies and most comfortable hoodies on the market. </p1> 

<p>

    Our mission is to make sure you feel great in your clothes, while looking even better.
    <br>
     We believe that our designs are unique, creative and original. We offer a wide range of products such as t-shirts, sweatshirts, tanks tops and more.
</p>

   </div>


   <div class="h1">
    <h6>       We hope you love it as much as we do!      </h6>
       </div>

    </div>
       
        
  
    <section class="projects" id="projects">
        <h2 >Our Team</h2>

        <div class="content">

          
            <div class="project-card">
            <div class="project-img">
                <img src="../public/images/amr11.jpg" width="100%">
            </div>


            <div class="project-info">
                <p class="project-cat">Amr Ahmed Sobhy</p>
              
            </div>
        </div>
        

        <div class="project-card">
            <div class="project-img">
              <img src="../public/images/mostafa.jpg" >
            </div>
            <div class="project-info">
                <p class="project-cat">Mostafa Haytham</p>
                
            </div>
        </div>
        
        
        <div class="project-card">
            <div class="project-img">
                <img src="../public/images/bassel.jpg" width="100%">
            </div>
            <div class="project-info">
                <p class="project-cat">Bassel Mohsen</p>
               
            </div>
        </div>



        <div class="project-card">
            <div class="project-img">
                <img src="../public/images/serag.jpg" width="100%">
            </div>
            <div class="project-info">
                <p class="project-cat">Serag EL Helw</p>
              
            </div>
        </div>

        <div class="project-card">
            <div class="project-img">
                <img src="../public/images/helmy.jpg" width="100%">
            </div>
            <div class="project-info">
                <p class="project-cat"> Omar Helmy</p>
               
            </div>
        </div>
        </div>
  



    
</section>

<%- include('component/FooterNav.ejs') %>



</body>
</html>