<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="css/forgetPassword.css">
    <title>forget_password</title>
    <link rel="icon" type="image/x-icon" href="images/Logo-removebg-preview (1).png" />
</head>

<body>
    <div class="forget_password" id="forget_password">
        <div class="form-forget_password">
            <form id="form" method="post" action="/forgetPassword" onsubmit="return validateEmailForm()">
                <h1>FORGOT PASSWORD</h1>
                <input type="email" id="email" name="email" placeholder="Email">
                <div id="emailError" class="error"></div>
                <button type="submit">Send Reset Email</button>
                if(validateEmailForm()===true){
                    console.log("fuck you")
                }
                else{
                    console.log("fuck you too")

                }
            </form>
        </div>
    </div>

    <script>
        function validateEmailForm() {
            let valid = true;
            const email = document.getElementById('email').value.trim();
            document.getElementById('emailError').textContent = '';

            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!emailRegex.test(email)) {
                document.getElementById('emailError').textContent = 'Invalid email format.';
                valid = false;
            }

            return valid;
        }
    </script>
</body>

</html>
