<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NEO.EG</title>
    <link rel="stylesheet" href="css/introPage.css" />
    <link rel="icon" type="image/x-icon" href="Images/Logo-removebg-preview (1).png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>
  <body>
    <script src="js/project.js"></script>
    <div id="video-container1">
        <video autoplay muted loop>
            <source src="/images/introPageVideo.mp4"type="video/mp4">
        </video>
        <div class="vid-overlay">
      <button class="intro-button" ><a href="/home">Enter</a></button>
      <br />
      <p>WELOME TO NEO</p>
    </div>
    </div>
   
  </body>
</html>
