@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: url('../images/neo.jpg')   ;
     
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     display: flex;
     align-items: center;
    justify-content: center;
    flex-direction: column; 
    height: 100vh;
    
}


/* bn3ml box abyd */
.forget_password{
    background-color: #fff;
    border-radius: 30px;
   
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

/* bnzbt fonts w msahat mben klam */
.forget_password p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px ;
}


.error {
    font-weight: bold; 
    color: red;
  }
  




.forget_password button{
    background-color: #000000; /* Green background */
border: none; /* Remove borders */
color: white; /* White text */
padding: 15px 32px; /* Padding */
text-align: center; /* Center text */
text-decoration: none; /* Remove underline */
display: inline-block; /* Make it a block element to center it */
font-size: 16px; /* Font size */
margin: 20px; /* Margin */
transition-duration: 0.4s; /* Transition duration */
cursor: pointer; /* Cursor on hover */
border-radius: 8px; /* Rounded corners */
}

.forget_password button:hover {
background-color: #45a049; /* Darker green on hover */
}



/*bnzbt klam w hnkhly fy ns saf7a */
.forget_password form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40 0 0 px;
    height: 100%;
}

/* bnzbt shkl bta3  email w password*/
.forget_password input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 8px;
    width: 80%;
    max-width: 300px; 
    text-align: center; 
    outline: none;
}

/*bnzbt alshkl w badding w nkhlehom fy ns */

.form-forget_password{
    position: center;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}


@media only screen and (max-width: 768px) {
    .forget_password {
        width: 90%; 
        margin: 10% auto; 
        padding: 2rem; 
    }

    .forget_password input {
        width: 100%; 
        max-width: none; 
    }

    .forget_password button {
        width: 100%; 
        max-width: none; 
    }
}
