<footer>
        <div class="footerContainer">

            <div class="footerImage">
                <a href=""><img src="/images/logoWithoutBackground.png"></a>
            </div>
                <div class="footerSocialContainer">
                    <div class="SendEmail">
                        <p>Subscribe to our Email</p>
                        <input type="text" placeholder="Send Email" >
                        <!-- <button>Sign</button> -->
                        
                    </div>
                    <div class="footerSocial">
                        <a href="https://www.instagram.com/neo__eg/"><i class="fa-brands fa-instagram"
                                style="color: #ffffff;"></i></a>
                        <a href="https://www.tiktok.com/@neo__eg"><i class="fa-brands fa-tiktok"
                                style="color: #ffffff;"></i></a>
                    </div>
                </div>
                <hr>
                <div class="footerQuickHelp">
                    <a href="/policy"></i>Refund Policy</a>
                    <a href="/policy"></i>Privacy Policy</a>
                    <a></i>neo__eg@gmail.com</a>
                </div>
            </div>
            

    </footer>
